body {
    font-family: 'Roboto', sans-serif;
}
.main {
    display: flex;
}
.section-left {
    display: flex;
    width: 45vw;
    height: 100vh;
}
section img {
    width: 45vw;
    height: 100vh;
}
.section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0px 0px 0px;
    width: 55vw;
}
.texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 350px;
    max-height: 150px;
    line-height: 1.25;
    margin: 0px 0px 20px 0px;
}
.texto h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.texto p {
    font-size: 18px;
    text-align: center;
    color: rgb(121, 110, 110);
}
.forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 460px;
    margin: 0px 0px 20px 0px;
}
.forms form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.forms div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
.forms input {
    font-size: 18px;
    width: 210px;
    margin: 10px 0px 0px 0px;
    border-radius: 5px solid rgb(121, 110, 110);
}
.politica {
    display: flex;
    font-size: 19px;
    line-height: 1.25;
    margin: 0 auto;
}
.texto-politica {
    display: flex;
    flex-wrap: wrap;
    max-width: 460px;
    justify-content: center;
}
.politica input {
    display: flex;
    max-width: 20px;
    height: 17px;
}
.texto-politica p {
    display: flex;
    margin: 0px 5px 0px 0px;
}
a {
    display: flex;
    text-decoration: none;
    color: blue;
}
button {
    background-color: #187DF0;
    color: #fff;
    padding: 10px 195px 10px 195px;
    margin: 0px 0px 65px 0px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
button:hover {
    cursor: pointer;
}
.login {
    display: flex;
    font-size: 19px;
}
.login p {
    margin: 0px 5px 0px 0px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .main { flex-direction: column; }
    .section-left { display: none; }
    .section-right { width: 100vw; height: 100vh; padding: 50px 0px 0px 0px; }
    .texto { max-width: 590px; max-height: 200px; margin: 0px 0px 40px 0px; line-height: 1.5; }
    .texto h1 { font-size: 45px; margin: 0px 0px 20px 0px; }
    .texto p { font-size: 30px; }
    .forms { max-width: 700px; margin: 0px 0px 30px 0px; }
    .forms form { flex-direction: column; }
    .forms div { margin: 0px 0px 30px 0px; font-size: 30px; }
    .forms input { font-size: 30px; width: 700px; margin: 30px 0px 0px 0px; }
    .politica { font-size: 30px; margin: 0px; max-width: 700px; }
    .politica input { max-width: 30px; height: 30px; }
    .texto-politica { max-width: 600px; }
    .texto-politica p { flex-wrap: wrap; margin: 0px 5px 0px 5px; }
    button { margin: 0px 0px 75px 0px; font-size: 30px; padding: 20px 250px 20px 250px; }
}
@media (min-width: 500px) and (max-width: 768px) {
    .main { flex-direction: column; }
    .section-left { display: none; }
    .section-right { width: 100vw; height: 100vh; padding: 50px 0px 0px 0px; }
    .forms form { flex-direction: column; }
}